.dividerWrapper {
  width: 100%;
  height: calc(var(--cpl-dnd-sort-list-item-height) / 2 + 4px);
  margin: calc(var(--cpl-dnd-sort-list-item-height) / 4 * -1) 0;
  /* background-color: lightcoral; */
  position: relative;
}

.draggingOverListDivider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggingOverListDivider::after {
  content: '';

  height: 4px;
  width: 100%;

  background-color: red;
}

.divider::before {
  content: '';

  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 32px;

  z-index: 1;

  background-color: transparent;
}

.divider::before:hover {
  background-color: lightcoral;
}

.draggingOverListItem {
  position: relative;
}

.draggingOverListItem::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  background-color: rgba(135, 206, 250, 0.3);
}
